# packages

In [29]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import tqdm

# settings

In [11]:
# default column number pandas
pd.options.display.max_columns = 200

# plot style
sns.set(palette = "colorblind", font_scale = 1.5)

# data

In [16]:
hpi = pd.read_excel("/Users/nicholasmichalak/sandbox/hpi-analysis/data/HPI_AT_BDL_cbsa.xlsx", skiprows = 6)

# better column names
## function
def adjust_colname(x: str, to_replace: dict):
    for s, r in to_replace.items():
        # replace
        x = x.replace(s, r)
    return x.lower()

# replace names
hpi.columns = [adjust_colname(col, {" ": "_", "%": "pct", "(": "", ")": ""}) for col in hpi.columns]

# see it
hpi

,cbsa,name,year,annual_change_pct,hpi,hpi_with_1990_base,hpi_with_2000_base
0,1,Alabama(non CBSA areas),1985,.,100.00,91.76,63.20
1,1,Alabama(non CBSA areas),1986,5.89,105.89,97.16,66.92
2,1,Alabama(non CBSA areas),1987,0.78,106.71,97.92,67.44
3,1,Alabama(non CBSA areas),1988,-0.49,106.19,97.44,67.11
4,1,Alabama(non CBSA areas),1989,5.04,111.55,102.35,70.49
...,...,...,...,...,...,...,...
39669,49780,"Zanesville, OH",2017,3.44,278.12,200.33,119.62
39670,49780,"Zanesville, OH",2018,6.62,296.54,213.60,127.54
39671,49780,"Zanesville, OH",2019,4.51,309.92,223.24,133.30
39672,49780,"Zanesville, OH",2020,3.45,320.61,230.93,137.89
39673,49780,"Zanesville, OH",2021,11.69,358.09,257.93,154.01

# create 5-year HPI intervals for Boulder County

In [31]:
# interval
interval_length = 5

# name
cbsa_name = "Boulder, CO"

# container
hpi_change_x_year = {"year_start": [], "year_end": [], "hpi_start": [], "hpi_end": [], "change_frac": []}

for year_start_i in tqdm.tqdm(sorted(hpi.query(f"name == '{cbsa_name}'")["year"].unique())):
    # year end
    year_end_i = year_start_i + interval_length

    if year_end_i <= hpi.query("name == 'Boulder, CO'")["year"].max():

        # hpi start
        hpi_start_i = hpi.query(f"(name == 'Boulder, CO') & (year == {year_start_i})")["hpi"].astype(float).squeeze()

        # hpi end
        hpi_end_i = hpi.query(f"(name == 'Boulder, CO') & (year == {year_end_i})")["hpi"].astype(float).squeeze()

        # change fraction
        change_frac_i = (hpi_end_i - hpi_start_i) / hpi_start_i

        # append
        hpi_change_x_year["year_start"].append(year_start_i)
        hpi_change_x_year["year_end"].append(year_end_i)
        hpi_change_x_year["hpi_start"].append(hpi_start_i)
        hpi_change_x_year["hpi_end"].append(hpi_end_i)
        hpi_change_x_year["change_frac"].append(change_frac_i)

# data frame
hpi_change_x_year = pd.DataFrame(hpi_change_x_year)

# see it
hpi_change_x_year

100%|██████████| 47/47 [00:01<00:00, 29.19it/s]

    year_start  year_end  hpi_start  hpi_end  change_frac
0         1975      1980     100.00   190.05     0.900500
1         1976      1981     110.32   203.59     0.845450
2         1977      1982     130.35   233.16     0.788723
3         1978      1983     152.59   229.90     0.506652
4         1979      1984     175.72   236.83     0.347769
5         1980      1985     190.05   243.55     0.281505
6         1981      1986     203.59   248.15     0.218871
7         1982      1987     233.16   249.93     0.071925
8         1983      1988     229.90   252.48     0.098217
9         1984      1989     236.83   257.13     0.085715
10        1985      1990     243.55   265.37     0.089591
11        1986      1991     248.15   277.97     0.120169
12        1987      1992     249.93   301.64     0.206898
13        1988      1993     252.48   338.74     0.341651
14        1989      1994     257.13   378.19     0.470812
15        1990      1995     265.37   408.15     0.538041
16        1991      1996     277.97   421.48     0.516279
17        1992      1997     301.64   441.85     0.464826
18        1993      1998     338.74   463.98     0.369723
19        1994      1999     378.19   502.96     0.329914
20        1995      2000     408.15   588.07     0.440818
21        1996      2001     421.48   648.68     0.539053
22        1997      2002     441.85   674.22     0.525902
23        1998      2003     463.98   674.54     0.453813
24        1999      2004     502.96   687.75     0.367405
25        2000      2005     588.07   722.24     0.228153
26        2001      2006     648.68   738.56     0.138558
27        2002      2007     674.22   746.72     0.107532
28        2003      2008     674.54   755.61     0.120186
29        2004      2009     687.75   749.01     0.089073
30        2005      2010     722.24   734.92     0.017556
31        2006      2011     738.56   720.66    -0.024236
32        2007      2012     746.72   728.42    -0.024507
33        2008      2013     755.61   761.89     0.008311
34        2009      2014     749.01   832.57     0.111561
35        2010      2015     734.92   913.48     0.242965
36        2011      2016     720.66  1027.48     0.425749
37        2012      2017     728.42  1112.33     0.527045
38        2013      2018     761.89  1194.65     0.568009
39        2014      2019     832.57  1237.81     0.486734
40        2015      2020     913.48  1249.28     0.367605
41        2016      2021    1027.48  1380.97     0.344036